<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836340014752-6rovg8crhdm2aoi010s1oq1gbgg1ang3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836340014752-6rovg8crhdm2aoi010s1oq1gbgg1ang3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>836340014752-8jg5mi0iuuc9uourki2500h5803cunto.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbmKhJkuBHitXxDjaiNn-vb269N7Vvu7o</string>
	<key>GCM_SENDER_ID</key>
	<string>836340014752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.nuzzle</string>
	<key>PROJECT_ID</key>
	<string>nuzzle-303418</string>
	<key>STORAGE_BUCKET</key>
	<string>nuzzle-303418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836340014752:ios:16db4b9daf94dd581a33c5</string>
	<key>DATABASE_URL</key>
	<string>https://nuzzle-303418-default-rtdb.firebaseio.com</string>
</dict>
</plist>